@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 56px;
}

h2 {
  font-size: 35px;
  line-height: 40px;
}

h3 {
  font-size: 25px;
  line-height: 35px;
}

nav {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 15px;
  -webkit-box-shadow: 0px 20px 20px #24263330;
          box-shadow: 0px 20px 20px #24263330;
  background-color: #fff;
  z-index: 10;
}

nav a {
  text-decoration: none;
  padding: 10px 10px;
  color: #353535;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

nav a:hover {
  background-color: #dde2ff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 5px;
}

nav a:hover::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 25%;
  right: 25%;
  border: 1px solid #4e5370;
}

.video-container {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  overflow: hidden;
}

.video-container h1 {
  position: absolute;
  color: white;
  text-shadow: 0px 0px 5px #24263380;
}

#welcome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 50px;
}

.container-gray {
  padding: 100px 50px;
  background-color: #efefef;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-gray .image-rounded {
  border-radius: 5px;
  margin: 0px 50px 0px 0px;
}

.container-gray .bottom-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container {
  padding: 100px 50px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.review-container figcaption {
  border-radius: 5px;
  padding: 20px 30px;
  background-color: #efefef;
}

.review-container figcaption:first-child {
  -webkit-box-shadow: 0px 20px 20px #24263330;
          box-shadow: 0px 20px 20px #24263330;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

hr {
  max-width: 80vw;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input {
  border-radius: 5px;
  height: 46px;
  width: 200px;
  padding: 0px 10px;
  border: 2px solid #242633;
  margin: 10px;
}

form button {
  width: 225px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #242633;
  color: #fff;
  margin: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

form button:hover {
  background-color: #4e5370;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

form .button-red {
  background-color: #e2174a;
}

form .button-red:hover {
  background-color: #f03b68;
}

.event-container {
  margin: 0 10px;
  position: relative;
  width: 300px;
  overflow: hidden;
  background-image: url("../static/images/book.jpg");
  background-size: cover;
}

.event-container span {
  position: absolute;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  bottom: 30px;
  left: 30px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.event-container2 {
  margin: 0 10px;
  position: relative;
  width: 300px;
  overflow: hidden;
  background-image: url("../static/images/event2.jpg");
  background-size: cover;
}

.event-container2 span {
  position: absolute;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  bottom: 30px;
  left: 30px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.event-container:hover span {
  left: 50px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.event-container2:hover span {
  left: 50px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

footer a {
  text-decoration: none;
  padding: 20px 10px;
  color: #242633;
}
/*# sourceMappingURL=main.css.map */